.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
	padding-bottom:10px;
	background-color:#213b52;
}
.headerflex{
	display:flex;
	justify-content:space-between;
	padding-top:20px;
}
.headerlogo h3{
	font-family:sans-serif;
	font-weight:700;
	color:#fff;
	font-size:20px;
	letter-spacing:1px;
	
}
.headerlogo a{
	text-decoration:none;
}
.headerlogo span{
	color:#eda543;
}
.navbar ul {
	display:flex;
}
.navbar li{
	padding:5px 15px;
	color:#9ca5ab;
	font-family:sans-serif;
	font-size:14px;
}
.navbar button{
	border-radius:50px;
	padding:5px 20px;
	background-color:#213b52;
	color:#fff;
	border: 2px solid #ffc433;
	font-family:sans-serif;
	font-size:14px;
	cursor:pointer;
}
.navbar .btn{
	padding-left:15px;
}
.navbar span{
	color:#cbd3da;
}
.navbar a{
	text-decoration:none;
}
.navbar a:hover li{
	color:#fff;
}
.navbar .btn:hover button{
	background-color: #fdc134;
	color: rgba(0, 0, 0, 0.9);
}
.banner{
	background-color:#213b52;
	height:auto;
}
.bannerflex{
	display:flex;
	width:100%;
}
.bannertext{
	width:50%;
	padding-top:20%;
}
.bannerimage{
	width:50%;
}
.bannerimage img{
	width:100%;
	height:auto;
}
.bannertext h1{
	font-family:sans-serif;
	font-weight:700;
	color:#d2e0ed;
	font-size:45px;
	padding-bottom:20px;
}
.bannertext p{
	font-family:sans-serif;
	font-weight:400;
	padding-bottom:20px;
	color:#fff;
	font-size:20px;
	line-height:25px;

}
.bannertext button{
	border-radius:50px;
	padding:8px 25px;
	background-color:#fdc134;
	color:#7c5c48;
	border: 2px solid #ffc433;
	font-family:sans-serif;
	font-size:14px;
	
}
.bannertext a{
	text-decoration:none;
}
.bannertext a:hover button{
	background-color:#213b52;
	color:#fff;
}
.client{
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-top:20px;
	padding-bottom:20px;
}
.clientflex{
	display:flex;
	width:100%;
}
.clientimage{
	width:16.67%;
	display:flex;
}
.clientimage img{
	width:40%;
	height:auto;
	padding:10px 60px;
}
.clientimage  img:hover{
	transform:scale(1.1);
	transition:0.5s all ease-in;
}
.about{
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-top:10px;
	padding-bottom:20px;
}
.aboutflex{
	padding-top:30px;
	display:flex;
}
.aboutimage{
	width:50%;
}
.aboutimage img{
	width:100%;
	height:90%;
	
}
.abouttext{
	width:50%;
	padding-top:50px;
	padding-left:8px;
}
.abouttext h2{
	font-family:sans-serif;
	font-weight:700;
	padding-bottom:15px;
	color:#214061;
	font-size:25px;	
}
.abouttext p{
	font-family:sans-serif;
	padding-bottom:15px;
	color:#8b768d;
	font-size:13px;	
	line-height:18px;
}
.aboutbox{
	position:relative;
	display:flex;
	width:100%;
	padding-top:30px;
}
.aboutbox2{
	position:relative;
	display:flex;
	width:100%;
	padding-top:30px;
}
.abouticon1{
	width:50%;
	padding-left:45px;
}
.abouticon3{
	width:50%;
	padding-left:45px;
}
.abouticon4{
	width:50%;
	padding-left:50px;
}
.abouticon2{
	width:50%;
	padding-left:50px;
}
.abouttext h3{
	font-family:sans-serif;
	font-weight:700;
	color:#214061;
	font-size:16px;
	padding-bottom:10px;
}
.abouticon1 i{
	font-family:sans-serif;
	color:#fdc134;
	font-size:30px;	
	position:absolute;
	left:8px;
}
.abouticon2 i{
	font-family:sans-serif;
	color:#fdc134;
	font-size:30px;	
	position:absolute;
	left:52%;
}
.abouticon3 i{
	font-family:sans-serif;
	color:#fdc134;
	font-size:30px;	
	position:absolute;
	left:8px;
}
.abouticon4 i{
	font-family:sans-serif;
	color:#fdc134;
	font-size:30px;	
	position:absolute;
	left:52%;
}
.aboutbox h3:hover {
     color: #fdc134;
}
.aboutbox2 h3:hover{
	 color: #fdc134;
}
.service{
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom:60px;
}
.serviceheading{
	text-align:center;
	padding-top:50px;
	position:relative;
}
.serviceheading h3{
	font-family:sans-serif;
	font-weight:700;
	color:#214061;
	font-size:25px;	
	padding-bottom:10px;
	
}
.servicehrline{
	border-bottom:3px solid #fdbf2b;
	width:2.7%;
	margin-left:48.5%;
	position:absolute;
    top:61.5%;
}
.serviceheading hr{
	width:9%;
	color:#ebedef;
}
.serviceheading p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-top:10px;
	line-height:18px;
}
.serviceflex{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	margin-top:20px;
}
.servicebox1{
	width:50%;
	margin-top:20px;
	display:flex;
	flex-wrap:wrap;
	
}
.serviceimage{
	margin-right: 60px;
	margin-left:30px;
	overflow:hidden;
}
.serviceimage img{
	width:100%;
	height:100%;
	
}
.servicecontent{
	margin-left:60px;
	margin-right:90px;
	margin-top:-60px;
	background-color:#fff;
	padding:30px;
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	z-index: 10;
	margin-bottom:40px;
}
.servicecontent h3{
	font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
	font-family: "Raleway", sans-serif;
	color:#213b52;
	font-size:20px;
	cursor:pointer;
	
}
.servicecontent p{
	color: #5e5e5e;
    margin-bottom: 20px;
	font-family: "Open Sans", sans-serif;
	font-size:16px;
	line-height:22px;
}
.servicecontent h4{
	display: inline;
	color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
	cursor:pointer;
}
.servicecontent i{
	color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
.servicebox1:hover h3{
    color: #fdc134;
}
.servicebox1:hover img{
	transform:scale(1.1);
	transition:0.5s all ease-in-out;
}
.servicecontent h4:hover{
	color: #fdc134;
}
.feature{
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom:30px;
}
.featureheading{
	text-align:center;
	padding-top:50px;
	position:relative;
}
.featureheading h3{
	font-family:sans-serif;
	font-weight:700;
	color:#214061;
	font-size:25px;	
	padding-bottom:10px;
}
.featurehrline{
	border-bottom:3px solid #fdbf2b;
	width:2.7%;
	margin-left:48.5%;
	position:absolute;
    top:61.8%;
}
.featureheading hr{
	width:9%;
	color:#ebedef;
}
.featureheading p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-top:10px;
	line-height:18px;
}
.featureflex{
	display:flex;
	flex-wrap:wrap;
}
.featurebox1{
	display:flex;
	width:100%;
	padding-top:25px;
}
.featureimage1{
	width:50;
}
.featureimage1 img{
	width:100%;
	height:auto;
}
.featuretext1{
	padding-top:35px;
}
.featuretext1 h3{
	font-family:sans-serif;
	font-weight:600;
	color:#214061;
	font-size:22px;	
	padding-bottom:15px;
	line-height:28px;
}
.featuretext1 h4{
	color:#5a5959;
	font-family:sans-serif;
	font-size:14px;	
	padding-bottom:20px;
	line-height:18px;
}
.featuretext1 p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-bottom:15px;
	line-height:18px;
}
.featuretext1 i{
	color:#fdc134;
	font-family:sans-serif;
	font-size:13px;	
	padding-left:2px;
}
.featurebox2{
	display:flex;
	width:100%;
	padding-top:55px;
}
.featuretext2{
	width:50%;
}
.featureimage2{
	width:50%;
}
.featureimage2 img{
	width:100%;
	height:auto;
}
.featuretext2{
	padding-top:35px;
}
.featuretext2 h3{
	font-family:sans-serif;
	font-weight:600;
	color:#214061;
	font-size:22px;	
	padding-bottom:15px;
	line-height:28px;
}
.featuretext2 h4{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-bottom:20px;
	line-height:18px;
}
.featuretext2 p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-bottom:15px;
	line-height:18px;
}
.featurebox3{
	display:flex;
	width:100%;
	padding-top:55px;
}
.featureimage3{
	width:50%;
}
.featureimage3 img{
	width:100%;
	height:auto;
}
.featuretext3{
	padding-top:65px;
}
.featuretext3 h3{
	font-family:sans-serif;
	font-weight:600;
	color:#214061;
	font-size:22px;	
	padding-bottom:15px;
	line-height:28px;
}
.featuretext3 h4{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-bottom:20px;
	line-height:18px;
}
.featuretext3 p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-bottom:20px;
	line-height:18px;
}
.featuretext3 i{
	color:#fdc134;
	font-family:sans-serif;
	font-size:13px;	
	padding-left:2px;
}
.featurebox4{
	display:flex;
	width:100%;
	padding-top:60px;
}
.featureimage4{
	width:50%;
}
.featuretext4{
	width:50%;
}
.featureimage4 img{
	width:100%;
	height:auto;
}
.featuretext4{
	padding-top:65px;
}
.featuretext4 h3{
	font-family:sans-serif;
	font-weight:600;
	color:#214061;
	font-size:22px;	
	padding-bottom:15px;
	line-height:28px;
}
.featuretext4 h4{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-bottom:20px;
	line-height:18px;
}
.featuretext4 p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-bottom:20px;
	line-height:18px;
}
.portfolio{
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom:70px;
}
.portfolioheading{
	text-align:center;
	padding-top:50px;
	position:relative;
}
.portfolioheading h3{
	font-family:sans-serif;
	font-weight:700;
	color:#214061;
	font-size:25px;	
	padding-bottom:10px;
}
.portfoliohrline{
	border-bottom:3px solid #fdbf2b;
	width:2.7%;
	margin-left:48.5%;
	position:absolute;
    top:51%;
}
.portfolioheading hr{
	width:9%;
	color:#ebedef;
}
.portfolioheading p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-top:10px;
	line-height:18px;
	padding-bottom:15px;
}
.portfoliobutton button{
 padding:0px 15px;
 font-family:sans-serif;
 font-size:15px;
 background-color:#f2f6fa;
 border:none;
}
.portfoliobutton span{
	color: #fdbf2b;
}
.portfolioflex{
	display:flex;
	width:100%;
	padding-top:30px;
}
.portfolioimage1{
	width:33.3%;
	padding-left:20px;
	
}
.portfolioimage1 img{
	width:100%;
	height:auto;
	border-radius:7px;
	margin-bottom:20px;
}
.portfolioimage2{
	width:33.3%;
    padding-left:20px;
}
.portfolioimage2 img{
	width:100%;
	height:auto;
	margin-bottom:20px;
	border-radius:7px;
}
.portfolioimage3{
	width:33.3%;
	padding-right:20px;
	padding-left:20px;
	
}
.portfolioimage3 img{
	width:100%;
	height:auto;
	margin-bottom:20px;
	border-radius:7px;
	
}
.team{
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom:70px;
}
.teamheading{
	text-align:center;
	padding-top:50px;
	position:relative;
}
.teamheading h3{
	font-family:sans-serif;
	font-weight:700;
	color:#214061;
	font-size:25px;	
	padding-bottom:10px;
}
.teamhrline{
	border-bottom:3px solid #fdbf2b;
	width:2.7%;
	margin-left:48.5%;
	position:absolute;
    top:56.5%;
}
.teamheading hr{
	width:9%;
	color:#ebedef;
}
.teamheading p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-top:10px;
	line-height:18px;
	padding-bottom:15px;
}
.teamflex{
	display:flex;
	width:100%;
}
.teambox{
	width:25%;
	padding-left:20px;
	padding-top:20px;
	text-align:center;
}
.teambox img{
	width:100%;
	height:auto;
	padding-bottom:10px;
}
.teambox h3{
	font-family:sans-serif;
	font-weight:700;
	color:#3f3d42;
	font-size:16px;	
	padding-bottom:6px;
}
.teambox h4{
	font-family:sans-serif;
	font-weight:600;
	color:#4d5c67;
	font-size:10px;	
	padding-bottom:20px;
}
.teamicon i{
	letter-spacing:2px;
	font-family:sans-serif;
	color:#5289ba;
	font-size:16px;	
}
.pricing{
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom:70px;
}
.pricingheading{
	text-align:center;
	padding-top:50px;
	position:relative;
}
.pricingheading h3{
	font-family:sans-serif;
	font-weight:700;
	color:#214061;
	font-size:25px;	
	padding-bottom:10px;
}
.pricinghrline{
	border-bottom:3px solid #fdbf2b;
	width:2.7%;
	margin-left:48.5%;
	position:absolute;
    top:56%;
}
.pricingheading hr{
	width:9%;
	color:#ebedef;
}
.pricingheading p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-top:10px;
	line-height:18px;
	padding-bottom:15px;
}
.pricingflex{
	display:flex;
	width:100%;
	padding-top:20px;
}
.pricingbox{
	width:33.33%;
	background-color:#fff;
	height:340px;
	margin-top:30px;
	box-shadow:2px 2px 2px 2px #eceff3;
}
.pricingbox1{
	text-align:center;
}
.pricingbox1 h2{
	color:#717071;
	font-family:sans-serif;
	font-size:16px;	
	padding-top:30px;
	padding-bottom:15px;
}
.pricingbox1 h3{
	color:#fdbf2d;
	font-family:sans-serif;
	font-size:28px;	
	padding-bottom:10px;
}
.pricingbox1 p{
	color:#c6c3be;
	font-family:sans-serif;
	font-size:13px;	
	padding-right:50px;
}
.pricingbox p{
	color:#acacbb;
	font-family:sans-serif;
	font-size:14px;	
	padding-left:50px;
	padding-bottom:15px;
}
.prihrline p {
	
	color:#acacbb;
	font-family:sans-serif;
	font-size:14px;	
	padding-left:50px;
	padding-bottom:15px;
}
.pricebtn{
	text-align:center;
	padding-top:10px;
}
.pricebtn button{
	background-color:#213b52;
	color:#fff;
	border-radius:50px;
	padding:5px 20px;
	border:none;
}
.pricingbox3 {
	text-align:center;
}
.pricingbox3 h2{
	color:#717071;
	font-family:sans-serif;
	font-size:16px;	
	padding-top:30px;
	padding-bottom:15px;
}
.pricingbox3 h3{
	color:#fdbf2d;
	font-family:sans-serif;
	font-size:28px;	
	padding-bottom:10px;
}
.pricingbox3 p{
	color:#c6c3be;
	font-family:sans-serif;
	font-size:13px;	
	padding-right:50px;
}
.pricingbox i{
	color:#fdbf2d;
	font-size:13px;
}
.prihrline i{
	color:#cbc9c9;
	font-size:13px;
}
.pricingbox2{
	width:33.3%;
	background-color:#fff;
	border:1px solid #fdc134;
	position:relative;
	height:400px;
	box-shadow:2px 2px 2px 2px #eceff3;
}
.pricebox2 {
	text-align:center;
}
.pricebox2 h2{
	color:#717071;
	font-family:sans-serif;
	font-size:16px;	
	padding-top:10px;
	padding-bottom:15px;
}
.pricebox2 h3{
	color:#fdbf2d;
	font-family:sans-serif;
	font-size:28px;	
	padding-top:10px;
	padding-bottom:10px;
}
.pricebox2 p{
	color:#c6c3be;
	font-family:sans-serif;
	font-size:13px;	
	padding-right:50px;
}
.pricingbox2 i{
	color:#fdbf2d;
	font-size:13px;
}
.pricingbox2 p{
	color:#acacbb;
	font-family:sans-serif;
	font-size:14px;	
	padding-left:50px;
	padding-bottom:15px;
}
.pricebutton2{
	text-align:center;
	padding-bottom:15px;
}
.pricebtn2{
	text-align:center;
	padding-top:15px;
	padding-bottom:50px;
}
.pricebtn2 button{
	background-color:#fdc134;
	color:#fff;
	border-radius:50px;
	padding:5px 20px;
	border:none;
}
.pricebutton2 button{
	background-color:#fdc134;
	color:#fff;
	border-radius:50px;
	font-size:8px;
	padding:2px 8px;
	border:none;
	position:absolute;
	top:-2%;
	left:42%;
}


.frequently{
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom:70px;
}
.frequentheading{
	text-align:center;
	padding-top:50px;
	position:relative;
}
.frequentheading h3{
	font-family:sans-serif;
	font-weight:700;
	color:#214061;
	font-size:25px;	
	padding-bottom:10px;
}
.frequenthrline{
	border-bottom:3px solid #fdbf2b;
	width:2.7%;
	margin-left:48.5%;
	position:absolute;
    top:56%;
}
.frequentheading hr{
	width:9%;
	color:#ebedef;
}
.frequentheading p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-top:10px;
	line-height:18px;
	padding-bottom:15px;
}
.frequentlyflex{
	display:flex;
	width:100%;
	flex-wrap:wrap;
	padding-top:40px;
}
.frequent1{
	display:flex;
}
.frequent2{
	display:flex;
}
.frequent3{
	display:flex;
}
.frequent4{
	display:flex;
}
.frequent5{
	display:flex;
}
.frequentquestion{
	width:41.67%;
}
.frequentanswer{
	width:58.33%;
}
.frequentquestion h3{
	font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin: 0 0 10px 28px;
	font-family: "Poppins", sans-serif;
	color: #444444;
}

.frequentanswer h4{
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
    color: #444444;
	 line-height: 26px;
	 font-weight:400;
}
.frequentquestion i{
	
	color: #9bbbd7;
    font-size: 20px;
    float: left;
    line-height: 0;
    padding: 13px 0 0 0;
    margin: 0;
}
.askedhrline{
	margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid #dde8f1;
	width:1180px
}
.contact{
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom:70px;
}
.contactheading{
	text-align:center;
	padding-top:50px;
	position:relative;
}
.contactheading h3{
	font-family:sans-serif;
	font-weight:700;
	color:#214061;
	font-size:25px;	
	padding-bottom:10px;
}
.contacthrline{
	border-bottom:3px solid #fdbf2b;
	width:2.7%;
	margin-left:48.5%;
	position:absolute;
    top:56%;
}
.contactheading hr{
	width:9%;
	color:#ebedef;
}
.contactheading p{
	color:#5a5959;
	font-family:sans-serif;
	font-size:13px;	
	padding-top:10px;
	line-height:18px;
	padding-bottom:15px;
}